<html>
    <h1>Inserte nuevos datos de polen</h1>
    <form method="POST">
        <table>
            <tr>
                <td><b>Date:</b></td>
                <td><input name="date"></td>
            </tr>
            <tr>
                <td><b>Alnus:</b></td>
                <td><input name="Alnus"></td>
            </tr>
            <tr>
                <td><b>Betulus:</b></td>
                <td><input name="Betulus"></td>
            </tr>
            <tr>
                <td><b>Taxus:</b></td>
                <td><input name="Taxus"></td>
            </tr>
            <tr>
                <td><b>Fraxinus:</b></td>
                <td><input name="Fraxinus"></td>
            </tr>
             <tr>
                <td><b>Poaceae:</b></td>
                <td><input name="Poaceae"></td>
            </tr>
             <tr>
                <td><b>Quercus:</b></td>
                <td><input name="Quercus"></td>
            </tr>
            <tr>
                <td><b>Ulmus:</b></td>
                <td><input name="Ulmus"></td>
            </tr>
            <tr>
                <td><b>Urtica:</b></td>
                <td><input name="Urtica"></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Enviar">
                </td>
            </tr>
        </table>
    </form>
</html>