<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Inicio</title>
    </head>
    <body>
        <h1 style="text-align: center; color: rgb(3, 77, 19); background-color: rgba(253, 255, 115, 0.712);">Bienvenido, se encuentra en la pagina principal de nuestra base de datos</h1>
        <h2 style="text-align: center;">Aquí puede consultar las muestras recogidas de polen o introducir nuevas en base de datos</h2>
        <div style="text-align: center;">
            <table style="margin: 0 auto;">
                <tr>
                    <td>
                        <a href="/muestras"><input type="submit" value="Consultar datos"></a>
                    </td>
                    <td>
                        <a href="/formulario"><input type="submit" value="Introducir datos"></a>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>