<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Inicio</title>
    </head>
    <body>
        <h1 style="text-align: center; color: rgb(3, 77, 19); background-color: rgba(253, 255, 115, 0.712);">
        Welcome, you are on the main page of our database</h1>
        
        <h2 style="text-align: center;">Here you can consult the collected pollen samples or enter new ones in the database</h2>
        <div style="text-align: center;">
            <table style="margin: 0 auto;">
                <tr>
                    <td>
                        <button onclick="document.location.href='/samples'">Check Data</button>
                    </td>
                    <td>
                        <button onclick="document.location.href='/form'">Insert Data</button>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
